In [2]:
import pandas as pd

In [9]:
df = pd.read_csv("March_2024_PDB_01.txt", delim_whitespace=True, header=None)

/tmp/ipykernel_4517/1837787375.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv("March_2024_PDB_01.txt", delim_whitespace=True, header=None)

In [10]:
df

         0  1  2         3  4  5  6  7
0        1  p  f  0.941295  H  E  C  S
1        1  f  c  0.322290  W  P  S  S
2        1  o  l  0.412006  T  Q  C  C
3        3  b  i  0.298008  V  G  C  C
4        4  j  c  0.151741  G  R  E  E
...    ... .. ..       ... .. .. .. ..
5370  1720  n  p  0.202308  C  L  S  C
5371  1720  g  m  0.088315  S  E  T  T
5372  1720  h  o  0.194438  K  K  S  S
5373  1720  b  i  0.298008  P  N  C  C
5374  1721  o  o  0.904833  K  K  T  T

[5375 rows x 8 columns]

In [11]:
df = pd.read_csv("March_2024_AF2_01.txt", delim_whitespace=True, header=None)

/tmp/ipykernel_4517/133256422.py:1: FutureWarning: The 'delim_whitespace' keyword in pd.read_csv is deprecated and will be removed in a future version. Use ``sep='\s+'`` instead
  df = pd.read_csv("March_2024_AF2_01.txt", delim_whitespace=True, header=None)

In [12]:
df

,0,1,2,3,4,5,6,7,8,9,10,11
0,0,7,j,j,G,G,C,S,0.880055,60.180000,100.000000,100.000000
1,1,95,n,l,E,Q,T,T,0.736402,96.220001,89.762611,98.582039
2,1,219,i,d,G,N,S,C,0.040571,31.870001,100.000000,100.000000
3,1,222,d,i,T,V,C,C,0.021758,47.259998,100.000000,100.000000
4,1,223,i,d,V,P,C,C,0.040571,38.200001,100.000000,93.366096
...,...,...,...,...,...,...,...,...,...,...,...,...
671150,23508,14909273,j,d,G,L,C,C,0.623739,95.459999,1.531394,20.793951
671151,23508,14909291,f,d,C,D,P,S,0.047665,95.379997,11.473963,100.000000
671152,23508,14909390,j,d,G,P,S,P,0.623739,80.699997,65.849922,88.452087
671153,23508,14909434,g,f,L,T,C,C,0.430306,79.760002,60.491493,46.452702
671154,23510,14909671,b,b,S,L,S,C,0.642419,54.230000,100.000000,95.778198